##Project Specific##
target/
bin/
../TripleTriadAdvanceT3/Intermediate/
../TripleTriadAdvanceT3/Build/
../TripleTriadAdvanceT3/Saved/

!.mvn/wrapper/maven-wrapper.jar

### STS and Eclipse###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
